<div class="wrapper">
  <div class="row">
    <div class="columns large-6 medium-centered">
      <h2 class="heading2"><%= "Vote sense registre" %></h2>
      <p><%= "Descripció" %></p>
      <%= cell("decidim/announcement", { announcement: "Session will expire in X minutes", callout_class: "warning" }) %>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 medium-centered">
      <%= decidim_form_for(@form, url: only_verified_votes_path, html: { class: "form new_only_verified_vote" }) do |form| %>
        <div class="card">
          <div class="card__content">
            <%= render partial: "form", object: form %>
            <%= form.hidden_field :component_id %>
            <%= form.hidden_field :redirect_url %>
            <%= form.hidden_field :votable_gid %>
          </div>
        </div>

        <div class="button--double form-general-submit">
          <%= form.submit 'Vote' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
